<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new order!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: <%= @order.name %></p>
    <p>Address: <%= @order.address %></p>
    <p>Phone: <%= @order.phone %></p>
    <p>Total: <%= @order.total %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p>The status of the order is <%= Order::STATUS[@order.status] %></p>
  </body>
</html>
